[buildout]
parts = 
	instance
	omelette
	test
	
extends = http://dist.plone.org/release/4.3-latest/versions.cfg

develop = .

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
   plone.node[test]

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin

eggs = 
	plone.node
	plone.reload
	plone.app.debugtoolbar
	ipdb	
	
	
zcml =
	plone.node
